:root {
  --bg-color: #F5F5F5;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;

  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  height: 71px;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__theme-button {
  font-family: inherit;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 18px;
  position: relative;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button:focus-visible {
  outline: 1px solid var(--text-color);
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active:hover {
  text-decoration: none;
}

.header__theme-button_is-active::after {
  background-color: var(--accent-color);
  height: 0.4em;
  width: 100%;
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__text-block_type_first-lettered::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  padding-left: 4px;
  padding-right: 3px;
  margin-right: 1px;
  font-weight: 700;
}

.theme_dark .content__text-block_type_first-lettered::first-letter {
  background-image: url(../images/pattern.svg);
}

.content__figure {
  margin-top: 7%;
  margin-bottom: 7%;
  position:relative;
  width: calc(100% + 10vi);
  margin-left: -5vi;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  flex-direction: column;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content__link {
  color: inherit;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__blockquote {
  width: 75%;
  margin: auto;
  font-style: italic;
  line-height: 200%;
  margin-bottom: 1.5em;
}

.content__card {
  border: 1px solid var(--text-color);
  aspect-ratio: 4 / 3;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__card-title {
  font-size: 60px;
  position: relative;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text::after {
  background-color: var(--accent-color);
  height: 0.3em;
  width: calc(50% + 15px);
  z-index: -1;
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  top: 50%;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list .content__list-item:not(:last-child) {
  margin-bottom: 10px; 
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: "";
  width: 15px;
  height: 15px;
  position:absolute;
  left: -25px;
  top: calc(50% - 7.5px);
  background-image: url("../images/marker-light.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.theme_dark .content__list-item::before {
  background-image: url("../images/marker-dark.svg");
}

.footer {
  border-top: 1px solid var(--text-color);
  margin-top: 10%;
  padding: 2.5%;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  font-size: 18px;
}